/* Stylesheet for Crazy Bob's Pumpkin Patch Website */

/* Global Style */
* {
   font-family: 'EB Garamond', sans-serif; 
}
body {
    background-color: #333333;
    font-family: sans-serif;
    margin: 0;    
}
div#container {
    margin: auto;
    width: 100vw;
    background-color: #333333;
    height: 100vh;
}
header {
    text-align: center;
    display: block;
    width: 1024;
    background-image: url("../Images/pumpkin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #662200;     
    margin: 0px;
    padding: 1px;
    font-size: 160%;
}
nav {
    display: block;
    margin: auto;
    padding: 0px;
    float: left;
    clear: both;
    width: 100%;
    background-color: #FFbA28;    
}
nav ul {
    display: block;
    padding: 0px;
    margin: auto;    
    list-style: none;
    clear: both;
}
nav ul li {    
    display: inline-block;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}
nav ul li a:hover {    
    border-radius: 2px;
    animation: linkBackgroundAnimate 0.5s forwards;
}
footer {    
    text-align: center;
    font-family:serif;
}
h2 {
    text-align: center;  
    color: #FF8F00;
    margin: 10px;
}
p {    
    width: 90%;
    margin: auto;
    color: #cc7700;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.keep-open {
    clear: both;
}
@keyframes linkBackgroundAnimate {
    0% {
        background-color:  #1B5E20;
    }
    100% {
        background-color: #00C853;
    }
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
/* index.html style */


/* about.html */
img#bob {
    width: 50%;
    padding: 20px;
}
/* produce.html */
gallery {
    background-color: #555555;
}
figure {
    background-color: #550000;
    width: 300px;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;
    display: inline-block;
}
figure img {
    margin: auto;
    padding: 0px;
    width: 250px;  
}
figure figcaption {
    color: white;
    text-align: center;
    margin-top: 10px;
}