/* Stylesheet for Crazy Bob's Pumpkin Patch Website */

/* Global Style */
* {
   font-family: 'EB Garamond', sans-serif; 
}
body {
    background-color: #333333;
    font-family: sans-serif;
    margin: 0px;  
    padding: 0px;
}
div#container {
    margin: auto;
    width: 100vw;
    background-color: #333333;
    height: 100vh;
}
header {
    text-align: center;
    display: block;
    width: 100%;
    background-image: url("../Images/pumpkin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #662200;     
    margin: 0px;
    padding: 1px;
    font-size: 40px;
}

nav {
    display: flex;
    margin: auto;
    padding: 0px;
    width: 100%;
    background-color: #FFbA28; 
    justify-content: flex-start;
    
}
nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;    
    list-style: none;
}
nav ul li {    
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
nav ul li a:hover {    
    border-radius: 2px;
    animation: linkBackgroundAnimate 0.15s forwards;
}
footer {    
    text-align: center;
    font-family:serif;
    color: #aaaaaa;
}
h2 {
    text-align: center;  
    color: #FF8F00;
    margin: 10px;
    font-size: 30px;
}
p {    
    width: 90%;
    margin: auto;
    color: #cc7700;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.keep-open {
    clear: both;
}
@keyframes linkBackgroundAnimate {
    0% {
        background-color:  #FFbA28;
    }
    100% {
        background-color: #FF8F00;
    }
}
img {
    display: block;
    margin: auto;
    width: 40%;
}
/* index.html style */


/* about.html */
img#bob {
    width: 50%;
    padding: 20px;
}
/* produce.html */
#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100vw;
    max-width: 1524px;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    background-color: #550000;
    box-shadow: 5px 5px 10px black;
    padding: 0px;
    border-radius: 10px;
    flex: 0 0 33%;  
    margin: 10px;
    max-width: 300px;
}
figure img {
    align-self: center;
    margin: 0px;
    object-fit: contain;  
    width: 90%;
    margin: auto;
    max-height: 12vw;
    margin-top: 2vw;
}
figure figcaption {
    color: #FF8F00;
    text-align: center;
}
/* contact */
#contactinfo {
    width: 40%;
    margin: auto;
    padding: 0px;
}
form {
    color: #FF8F00; 
    font-size: 20px;   
    background-color: white;
    padding: 20px;
}

form input, form textarea {
    background-color: white;
    border: 1px solid green;
    display: block;    
    font-size: 17px;
    font-family: sans-serif;
    padding: 3px;
}
form button {
    color: green;
    border: 1px solid green;
    background-color: white;
    border-radius: 3px;
    font-size: 20px;    
    margin-top: 20px;
}
textarea {
    width: 30vw;
}

form button:active {
    
}
#map iframe {
    width: 50%;
    margin: auto;
}
#map {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media only screen and (max-width: 1000px) {
    
}
@media only screen and (max-width: 700px) {
    header {
        font-size: 5vw;
    }
    figure {
        flex: 0 0 40%;        
    }   

}
